.commodity-create{
  margin: 20px;
  background-color: white;
  padding: 20px;
  span{
    color: red;
  }
  input{
    margin: 15px 0;
    width: 90%;
    height: 25px;
  }
  button{
    background-color: #1890ff;
    color: white;
  }
}